{% extends 'puzzle/base.html' %} {% load static %} {%block title%} Arcana -
Score Board {%endblock%} {%block content%}
<section id="application" class="unselectable">
  <main id="main">
    <nav id="app-nav">
      <div id="nav-bg1"></div>
      <div id="nav-bg2"></div>
      <div id="nav-wrap">
        <div class="table">
          <div class="table-cell">
            <ul>
              <span class="top line"></span>
              {% if user.is_authenticated %}
              <li class="logedinuser">
                <a href="#" name="contacts"
                  ><span
                    class="label font-reg"
                    style="color: #fff; font-size: 20px"
                  >
                    <div style="width: auto; margin: auto; display: flex">
                      <img
                        style="
                          width: 50px;
                          height: 50px;
                          border-radius: 50px;
                          margin: auto;
                        "
                        src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                      />
                      <span
                        style="width: auto; margin-top: 12px; margin-left: 10px"
                        >Hi, {{ user.socialaccount_set.all.0.extra_data.name }}
                      </span>
                    </div></span
                  >
                  <span class="row"
                    ><span
                      class="dark"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span>
                    <span
                      class="red"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span></span
                ></a>
              </li>
              {% endif %}
              <li class="">
                <a href="/" name="slider"
                  ><span class="label font-reg"> Home </span>
                  <span class="row"
                    ><span
                      class="dark"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span>
                    <span
                      class="red"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span></span
                ></a>
              </li>
              <li class="active">
                <a href="{% url 'scoreboard' %}" name="scoreboard"
                  ><span class="label font-reg"> Leader Borad </span>
                  <span class="row"
                    ><span
                      class="dark"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span>
                    <span
                      class="red"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span></span
                ></a>
              </li>
              <li class="">
                <a href="{% url 'about' %}" name="about"
                  ><span class="label font-reg"> About Us </span>
                  <span class="row"
                    ><span
                      class="dark"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span>
                    <span
                      class="red"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span></span
                ></a>
              </li>
              <li class="">
                <a href="{% url 'rules' %}" name="rules"
                  ><span class="label font-reg"> Instructions </span>
                  <span class="row"
                    ><span
                      class="dark"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span>
                    <span
                      class="red"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span></span
                ></a>
              </li>
              {% if user.is_authenticated %}
              <li class="">
                <a href="{% url 'account_logout' %}" name="logout"
                  ><span class="label font-reg"> Logout </span>
                  <span class="row"
                    ><span
                      class="dark"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span>
                    <span
                      class="red"
                      style="
                        transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
                      "
                    ></span></span
                ></a>
              </li>
              {% endif %}
              <span
                class="bot line"
                style="transform: matrix(1, 0, 0, 1, 0, 0)"
              ></span>
            </ul>
          </div>
        </div>

        <ul class="social">
          <li id="fb" style="transform: translate3d(0px, 0px, 0px)">
            <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li id="in" style="transform: translate3d(0px, 0px, 0px)">
            <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li id="yt" style="transform: translate3d(0px, 0px, 0px)">
            <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
          </li>
        </ul>
        <p class="footer">
          <span style="transform: translate3d(0px, 0px, 0px); color: #7b7a7a"
            ><span class="font-reg row"
              ><i class="fas fa-laptop-code" style="color: #ff7200"></i
              >&nbsp;DEPARTMENT OF INFORMATION TECHNOLOGY</span
            ><br /><span class="font-reg"
              >Created By
              <span style="color: #ff7200">&lt;/TEAM ARCANA&gt;</span></span
            ></span
          >
        </p>
      </div>
    </nav>
    <div id="app-ui" class="dark">
      <header class=""></header>

      <div id="hamb">
        <div class="open">
          <div class="icon open-menu">
            <div class="line-top">
              <div
                class="line-1"
                style="height: 12px; transform: translate3d(0px, 0px, 0px)"
              >
                <span></span>
              </div>
              <div class="line-2"><span></span></div>
            </div>
            <div class="line-bot">
              <div
                class="line-1"
                style="height: 32px; transform: translate3d(0px, 0px, 0px)"
              >
                <span></span>
              </div>
              <div class="line-2"><span></span></div>
            </div>
          </div>
          <div class="label open-menu">
            <span style="transform: translate3d(0px, 0px, 0px)"
              ><span class="holder"
                ><span class="font-reg">Menu</span>
                <span class="open font-reg">Open</span></span
              >
            </span>
          </div>
        </div>
        <div class="close">
          <div class="icon close-menu">
            <div class="line-top">
              <div class="line-1"><span></span></div>
              <div class="line-2"><span></span></div>
            </div>
            <div class="line-bot">
              <div class="line-1"><span></span></div>
              <div class="line-2"><span></span></div>
            </div>
          </div>
          <div class="label close-menu">
            <span
              ><span class="holder"
                ><span class="font-reg">Close</span>
                <span class="close font-reg">Close</span></span
              >
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="app-main" style="overflow-x: hidden; overflow-y: scroll">
      <section id="index" class="root">
        <section id="projects" class="slide">
          <div class="table">
            <div class="table-cell">
              <div id="about" class="section">
                <div class="container">
                  <h2 style="margin-top: 30px">
                    <span class="font-reg">Top Players</span>
                  </h2>
                  <table id="sc_br" class="font-reg show">
                    <thead>
                      <tr>
                        <th>IMAGE</th>
                        <th>NAME</th>
                        <th>POSITION</th>
                        <th>POINTS</th>
                        <th>TIME</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for e in ob %}

                      <tr>
                        <td>
                          <img
                            style="
                              width: 50px;
                              height: 50px;
                              border-radius: 50px;
                              margin: auto;
                            "
                            src="{{ e.user.socialaccount_set.all.0.get_avatar_url }}"
                          />
                        </td>
                        <td>
                          {{ e.user.socialaccount_set.all.0.extra_data.name }}
                        </td>
                        <td class="position_id">1</td>
                        <td>{{ e.point }}</td>
                        <td>{{ e.time}}</td>
                        <td class="ld_mail" style="display: none">
                          {{ e.user.email }}
                        </td>
                      </tr>

                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <div id="stats">
      <div
        style="
          position: fixed;
          top: 0px;
          left: 0px;
          cursor: pointer;
          opacity: 0.9;
          z-index: 10000;
        "
      >
        <canvas
          width="80"
          height="48"
          style="width: 80px; height: 48px; display: block"
        ></canvas>
        <canvas
          width="80"
          height="48"
          style="width: 80px; height: 48px; display: none"
        ></canvas>
        <canvas
          width="80"
          height="48"
          style="width: 80px; height: 48px; display: none"
        ></canvas>
      </div>
    </div>
    <div id="gui"></div>
  </main>
</section>
<script>
  $(document).ready(function () {
    $(function () {
      $("#sc_br").tablesorter({ sortList: [[3, 1]] });
      var l = $("#sc_br tbody tr").length;

      for (var i = 0; i < l; i++) {
        document.getElementsByClassName("position_id")[i].innerHTML = i + 1;
      }
      $("#sc_br tbody tr:last").css("border-bottom", "1px solid #ff7200");
    });
  });
</script>
{% if user.is_authenticated %}
<script>
  var emailArray = document.getElementsByClassName("ld_mail");
  for (var i = 0; i < emailArray.length; i++) {
    if (emailArray[i].innerHTML == "{{ user.email }}") {
      document.getElementsByClassName("ld_mail")[
        i
      ].parentElement.style.boxShadow = "0px 0px 14px #ff7200";
    }
  }
</script>
{% endif %} {% endblock %}
